@model IceCreamProject.Models.Recipe

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Recipe</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Recipe_ID" />
            <div class="form-group">
                <label asp-for="Recipe_By" class="control-label"></label>
                <input asp-for="Recipe_By" class="form-control" />
                <span asp-validation-for="Recipe_By" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="R_Name" class="control-label"></label>
                <input asp-for="R_Name" class="form-control" />
                <span asp-validation-for="R_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="R_Url" class="control-label"></label>
                <input asp-for="R_Url" class="form-control" />
                <span asp-validation-for="R_Url" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ingredients" class="control-label"></label>
                <input asp-for="Ingredients" class="form-control" />
                <span asp-validation-for="Ingredients" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Procedure" class="control-label"></label>
                <input asp-for="Procedure" class="form-control" />
                <span asp-validation-for="Procedure" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
