
@{
    ViewData["Title"] = "Admin Dashboard";
}
<h2>Admin Dashboard</h2>

<row>
    <a class="btn btn-primary" asp-controller="Recipes" asp-action="Index_Admin" class="col-3 m-2"><i class="bi bi-book-fill mx-1"></i>Recipes</a>
    <a class="btn btn-primary" asp-controller="Orders" asp-action="Index" class="col-3 m-2"><i class="bi bi-list-ol mx-1"></i>
Orders</a>
    <a class="btn btn-primary" asp-controller="Users" asp-action="Index" class="col-3 m-2"> <i class="bi bi-people-fill mx-1"></i>Users</a>
    <a class="btn btn-primary" asp-controller="Feedbacks" asp-action="Index" class="col-3 m-2"> <i class="bi bi-chat-left-dots-fill mx-1"></i>FeedBack</a>



    
</row>

