
@{


<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<div class="about-section paddingTB60 gray-bg">
                <div class="container">
                    <div class="row">
						<div class="col-md-7 col-sm-6">
							<div class="about-title clearfix">
								<h1>About <span>The Ice Cream Shop</span></h1>
								<h3>Our Motto </h3>
								<p class="about-paddingB"> The Ice Cream Shop is one of the most famous IceCream parlors in the country. Instead of Providing IceCreams, we provide Recipes of the Ice Creams to our Premium Subscription Holders. The Main focus of The Ice Cream Shop is to ensure that everyone gets ice cream whenever they want. </p>
						<div class="about-icons"> 
                            <ul class="list-unstyled d-inline-flex" >
                                <li class="mx-1"><a href="https://www.facebook.com/"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a> </li>
                                <li class="mx-1"><a href="https://twitter.com/"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a> </li>
                                <li class="mx-1"> <a href="https://plus.google.com/"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a> </li>
                                <li class="mx-1"> <a href="mailto:bootsnipp@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a> </li>
                            </ul>       
               
               
	           
	           
	        
	        </div>
							</div>
						</div>
						<div class="col-md-5 col-sm-6">
							<div class="about-img">
								<img src="https://devitems.com/preview/appmom/img/mobile/2.png" alt="">
							</div>
						</div>	
                    </div>
                </div>
            </div>
}
