
@{
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <h1>Contact Us</h1>
    <p>Email Us at contact@theicecreamshop.com</p>
    <p>Phone Number:+123 456 789</p>
}
