
@{
    ViewData["Title"] = "Confirmation";

}

  <h1>Thank You!</h1>
  <p>Your User ID is @ViewBag.id and Total Amount Payable is @ViewBag.Amount$. Transfer this amount to our 
      Account Number 0900343493F and Email Us the Payment Proof at payments@theicecreamshop.com . So we will Activate your Account
     . Do not Forget to Submit the payment on monthly or yearly Basis as per your payment plan otherwise your account will be terminated.
  </p>
